<div class="cont">
    <table class="table">
        <tr class="td">
            <th class="th">Nomor</th>
            <th class="th">Nama</th>
            <th class="th">Poin</th>
        </tr>
        <tr class="td">
            <th class="th">1</th>
            <th class="th">Jaceon</th>
            <th class="th">1800</th>
        </tr>
        <tr class="td">
            <th class="th">2</th>
            <th class="th">Haru</th>
            <th class="th">1700</th>
        </tr>
    </table>
</div>
