<div class="cont">
    <table class="table">
        <tr class="td">
            <th class="th">Username</th>
            <th class="th">Nama</th>
            <th class="th">Jenis Kelamin</th>
            <th class="th">Kota</th>
        </tr>
        <tr class="td">
            <th class="th">Jaceon</th>
            <th class="th">Jason</th>
            <th class="th">Laki-Laki</th>
            <th class="th">Pontianak</th>
        </tr>
        <tr class="td">
            <th class="th">Haru</th>
            <th class="th">Vito</th>
            <th class="th">Laki-Laki</th>
            <th class="th">Kuala Lumpur</th>
        </tr>
    </table>
</div>
