<div class="container">
    <img src="..\assets\image\chess.png" alt="chesspicture" width=600px>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, vel. Assumenda fuga corporis voluptatem atque, dicta similique aut tempora repellat ipsa deserunt perspiciatis consectetur accusantium quam quaerat, illo cum Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident libero in sed dicta repellat, iusto repellendus iste laboriosam, saepe, quidem dolores aliquam! Recusandae quas quisquam nisi corrupti et reiciendis incidunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis iste officia tenetur necessitatibus dolor deleniti debitis, voluptate eos. Obcaecati, hic officiis? Natus nobis dolorem iusto rem sint explicabo, veniam facere. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore minima, quae sed, eligendi deserunt nobis illo natus exercitationem dolorum odit, aperiam inventore quo obcaecati soluta tempora. Eum velit beatae repudiandae?</p>
    <br>
    <br>
    <p>Contact us:</p>
    <p><img src="..\assets\image\whatsapp.png" alt="whatsapppicture" width=50px> 082143246363  </p>
    <p>chessku@gmail.com</p>
    <br>
    <br>
    <br>
    <p>Made by: 202102265/Anthony Jason Vito/3C4</p>
</div>
